* {
    font-family: 'Space Mono', monospace;
    color: #286983;
}


body {
    background-color: #f2e9e1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.new_note {
    max-width: 60%;
    border: 0;
    background-color:#f2e9e1;
}

.slide_out {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 0%;
    border: 0;
    background-color: #f2e9e1;
    padding-bottom: 80px;
    position: sticky;
}

.plus {
    max-width: 60%;
    border: 0;
    background-color:#f2e9e1;
    font-size: 250%;
}

.note_block {
    display: flex;
    justify-content: center;
    max-width: 80%;
}

#note {
    background-color: #fffaf3;
    border: none;
}

.save {
    background-color:#f2e9e1;
    border: none;

}

.delete {
    background-color:#f2e9e1;
    border: none;
    color: red;
}

.save_delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notes_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
}

.slidein {
    display: flex;
    border: none;
    background-color:#fffaf3;
    font-size: 200%;
    font-style: bold;
    justify-content: flex-end;
    padding-left: 130px;
}

.slide {
    width: 175px;
    position: fixed;
    background-color: #fffaf3;
    height: 100%;
    top: 0;
}

#my_notes {
    color: black;
    font-style: bold
}

@media screen and (max-width: 767px) {
    .note_block {
        width: 200px;
        height: 100px;
        margin-left: 200px;
    }

    .slide {
        width: 100px;
        font-size: 10px;  
    }
    
    .slidein {
        padding-left: 40px;
        
    }

}